@inherits LayoutComponentBase
@using MudBlazor
@inject NavigationManager Nav
@using Nyxon.Client.Services
@inject LayoutService LayoutState
@implements IDisposable // need this to prevetn memory leaks

<MudThemeProvider Theme="NyxonTheme.Default" IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="layout-shell">

    <header class="app-header">
        <div class="header-content">

            <div style="display: flex; align-items: center;">
                <a href="/" class="logo-link">nyxon</a>

                @if (!string.IsNullOrEmpty(LayoutState.HeaderTitle))
                {
                    <div class="breadcrumb visible" style="display:flex; margin-left:20px;">
                        <span class="breadcrumb-divider">/</span>
                        <span class="context-title">@LayoutState.HeaderTitle</span>
                        <span class="encrypted-badge">ENCRYPTED</span>
                    </div>
                }
            </div>

            <nav class="nav-links">
                @if (LayoutState.IsLoggedIn)
                {
                    <div class="nav-links-log">
                        <div class="user-link">
                            <MudAvatar class="user-avatar">
                                F
                            </MudAvatar>
                            <a class="username">FinalBoss_01</a>
                        </div>
                        <a class="logout-link" href="#" @onclick="Logout">➜]  Logout</a>
                    </div>
                }
                else
                {
                    <a href="manifesto" class="nav-item">Manifesto</a>
                    <a href="security" class="nav-item">Security</a>
                    @if (!IsLoginPage)
                    {
                        <button style="margin-left: 20px" class="btn-primary" @onclick="() => Login()">Login /
                            Register</button>
                    }
                }
            </nav>
        </div>
    </header>

    @if (LayoutState.IsLoggedIn)
    {


        <div class="app-layout">
            <AppSidebar />
            <main class="main-stage">
                @Body
            </main>
        </div>

    }
    else
    {
        <main style="flex: 1; display: flex; flex-direction: column; overflow: hidden; width: 100%;">
            @Body
        </main>
    }
</div>

@code {
    private bool IsLoginPage => Nav.Uri.Contains("login", StringComparison.OrdinalIgnoreCase);
    private void Login()
    {
        Nav.NavigateTo("/login");
    }

    protected override void OnInitialized()
    {
        // listen for layoutstate cnages
        LayoutState.OnChange += StateHasChanged;

        // listen for url chnages
        Nav.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        // force ui refresh
        StateHasChanged();
    }

    public void Dispose()
    {
        LayoutState.OnChange -= StateHasChanged;
    }

    private void Logout()
    {
        LayoutState.SetLoginState(false);
        Nav.NavigateTo("/");
    }
}