@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
@inject IJSRuntime JS
@inject HomeViewModel _vm
@implements IAsyncDisposable

<AuthorizeView>
    <Authorized>
        <div class="dashboard-view" @onkeydown:window="HandleGlobalKey">
            <h1 class="dash-greeting">Good afternoon, @context.User.Identity?.Name.</h1>

            <div class="dash-search-wrapper">
                <span class="dash-icon">>_</span>
                <input id="terminal-input" @ref="_terminalInput" type="text" class="dash-search"
                    placeholder="@(_vm.IsUnlocked ? "Type pa command or user..." : "Enter passphrase to unlock")"
                    @bind="_vm.InputString" @bind:event="oninput" @onkeydown="_vm.HandleTerminalKey">
            </div>

            <div class="dash-shortcuts">
                @if (_vm.IsUnlocked)
                {
                    <div class="shortcut-chip">type <b>?</b> for help</div>
                    <div class="shortcut-chip"><b>:command</b></div>
                    <div class="shortcut-chip"><b>@@username</b> message</div>

                    <button @onclick='() => Nav.NavigateTo("/chat/maxverstappen33")'>
                        chat with max
                    </button>
                }
                else
                {
                    <div class="shortcut-chip"><b>commands</b> will be available after unlock</div>
                }
            </div>

            @if (!string.IsNullOrWhiteSpace(_vm.ErrorMessage))
            {
                <div style="margin-top: 10px;" class="error">
                    @_vm.ErrorMessage
                </div>
            }

        </div>
    </Authorized>
    <NotAuthorized>
        <section class="landing-hero">
            <h1 class="hero-title">Sovereignty over<br>your data.</h1>
            <p class="hero-subtitle">End-to-End Encrypted.
                Zero Knowledge.<br>The last messenger you will ever need.</p>
            <div class="hero-buttons">
                <button class="btn-primary" @onclick='() => Nav.NavigateTo("/login")'>Get Started</button>
                <button class="btn-outline">Read The Code</button>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>

@code {
    private ElementReference _terminalInput;
    private bool _isHotKeyActive = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isHotKeyActive)
        {
            try
            {
                await JS.InvokeVoidAsync("terminalHotKeyManager.register", "terminal-input");
                _isHotKeyActive = true;
            }
            catch (JSException) { }
        }
    }

    protected override void OnInitialized()
    {
        _vm.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        _vm.StateChanged -= StateHasChanged;
    }

    public async ValueTask DisposeAsync()
    {
        if (_isHotKeyActive)
        {
            try
            {
                await JS.InvokeVoidAsync("terminalHotKeyManager.dispose");
            }
            catch (JSDisconnectedException)
            {
                // ignore -> browser is laready navigating
            }
            _isHotKeyActive = false;
        }
    }
}